@font-face
{
	font-family : "Kaushan Script";
	src : url('fonts/KaushanScript.otf');
}
@font-face
{
	font-family : "Great Vibes";
	src : url('fonts/GreatVibes.otf');
}
@font-face
{
	font-family : "Joker";
	src : url('fonts/JOKERMAN.ttf');
}
