*{
	padding: 0px;
	margin: 0px;
}
#hbd_abhi
{
	text-align: center;
	background-color: rgba(0,0,0,0.35);
}
#_body
{
	background: url('./home.jpg') no-repeat center center fixed;
	width: 100%;
	height: 100%;
}