<div class="row" id="affiliations-logos">
  <div class="col-3">
    <div class="logo-wrap">
      <span class="helper"></span>
      <a href="//www.amazon.science" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/amazon.webp"></a>
    </div>
    <div class="logo-desc">
      AWS AI<br />
      2021, 2022 - Present
    </div>
  </div>

  <div class="col-3">
    <div class="logo-wrap">
      <span class="helper"></span>
      <a href="//www.comp.nus.edu.sg/" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/nus.webp"
          alt="NUS Logo"></a>
    </div>
    <div class="logo-desc">
      NUS School of Computing<br />
      2017 - 2022
    </div>
  </div>

  <div class="col-3">
    <div class="logo-wrap">
      <span class="helper"></span>
      <a href="//www.iitr.ac.in/" target="_blank"><img src="{{site.baseurl}}/assets/img/logos/iitr.webp"></a>
    </div>
    <div class="logo-desc">
      IIT Roorkee<br />
      2013 - 2017
    </div>
  </div>

  <div class="col-3">
    <div class="logo-wrap">
      <span class="helper"></span>
      <a href="//summerofcode.withgoogle.com/" target="_blank"><img
          src="{{site.baseurl}}/assets/img/logos/gsoc.png"></a>
    </div>
    <div class="logo-desc">
      Google Summer of Code<br />
      S2016, S2017
    </div>
  </div>
</div>