
<div class="container" id="affiliations-logos">
  <div class="col">
    <div class="row">
      <div class="col-sm-2">
        <a href="https://www.comp.nus.edu.sg/" target="_blank"><img style="width: auto; height: auto; max-height: 60px;" 
          src="{{site.baseurl}}/assets/img/logos/nus.jpg" alt="NUS Logo"/></a>
      </div>
      <div class="col-sm-2">
        <a href="https://www.amazon.science" target="_blank"><img style="width: auto; height: auto; max-height: 60px; max-width: 100px;" 
          src="{{site.baseurl}}/assets/img/logos/amazon.png" alt="Amazon Logo"/></a>
      </div>
      <div class="col-sm-2">
        <a href="https://www.iitr.ac.in/" target="_blank"><img style="width: auto; height: auto; max-height: 60px;" 
          src="{{site.baseurl}}/assets/img/logos/iitr.jpg" alt="IITR Logo"/></a>
      </div>
      <div class="col-sm-2">
        <a href="https://summerofcode.withgoogle.com/" target="_blank"><img style="width: auto; height: auto; max-height: 60px;" 
          src="{{site.baseurl}}/assets/img/logos/gsoc.png" alt="GSoC Logo"/></a>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-2 logocaption">
            NUS SoC<br/>2017 - Present
        </div>
        <div class="col-sm-2 logocaption">
            Amazon AWS AI<br/>2021
        </div>
        <div class="col-sm-2 logocaption">
            IIT Roorkee<br/>2013 - 2017
        </div>
        <div class="col-sm-2 logocaption">
            GSoC<br/>S2016, S2017
        </div>
    </div>
  </div>
</div>