* {
    margin: 0px;
    padding: 0px;
}

html body {
    background-color: #fafafa;
}

.container {
    color: #333333;
}

a:link {
    text-decoration: none!important;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.article {
    color: #404040;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 80%;
}

.section {
    text-align: justify;
    margin-bottom: 20px;
}

.section h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #353535;
    margin-bottom: 18px;
}

.header {
    margin-bottom: 60px;
    text-align: center;
}

.header h1 {
    text-align: center;
    font-size: 54px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-bottom: -5px;
}

.header small {
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 28px;
}

.subsection h2 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.bold {
    font-weight: bold;
    color: #353535;
}

.lcode {
    color: #E74C3C;
    padding-left: 5px;
    padding-right: 5px;
    background: #FFF;
    border: solid 1px #e1e4e5;
    font-size: 85%;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.scaled-image {
    max-width: 300px;
    height: auto;
    border: 2px solid black;
}

.image-box {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-caption {
    font-size: 70%;
    color: #666;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-yw4l {
    vertical-align: top
}
.details {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    font-size: 15px;
}
